.root {
	border-radius: 8px;
}

.searchInput {
	border-radius: 8px;
	background: none !important;
}

.title {
	text-align: left;
	text-transform: uppercase;
}

.mainTitle {
	text-align: center;
}
.mainTitle a {
	text-decoration: none;
	color: inherit;
}

.search {
	text-align: left;
}

.borderRight {
	border-right: 1px solid #424242;
}

.switch {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.switchText {
	display: flex;
	align-items: center;
	gap: 10px;
}

.switchButton div {
	cursor: pointer !important;
}

.item {
	border-radius: 8px;
}
.item span {
	font-size: 16px;
}
