.switch {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.switchText {
	display: flex;
	align-items: center;
	gap: 10px;
}

.switchButton div {
	cursor: pointer !important;
}
