.root {
	border-radius: 10px !important;
}

.root select {
	border-radius: 10px !important;
}

.title {
	text-align: left;
	text-transform: uppercase;
}

.mainTitle {
	text-align: center;
}
.mainTitle a {
	text-decoration: none;
	color: inherit;
}

.borderRight {
	border-right: 1px solid #424242;
}

.item span {
	font-size: 16px;
}

.settings a {
	color: inherit;
	text-decoration: none;
}

.addProject {
	cursor: pointer;
}
